<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smile Classifier - History</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/classify">Classify</a></li>
                <li><a href="/history">History</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Classification History</h1>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Class</th>
                    <th>Date and Time</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td><img src="{{ entry.image_path }}" alt="Image" width="50"></td>
                        <td>{{ entry.class_name }}</td>
                        <td>{{ entry.upload_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
